<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Principal</title>
</head>
<body>
	<form th:action="@{/formulario}" th:object="${contribuyente}" method="post">
	
		<input type="hidden" th:field="*{c_contribuyente}">
       
		<label>Nombre: </label>
		<input type="text" th:field="*{s_nombre}" size="40" placeholder="Nombre"><br>
		<span th:errors ="*{s_nombre}" style= "color: #E81505;"></span><br>
					
		<label>Apellido: </label>
		<input type="text" th:field="*{s_apellido}" size="40" placeholder="Apellido"><br>
		<span th:errors ="*{s_apellido}" style= "color: #E81505;"></span><br>
					
		<label>Nit: </label>
		<input type="text" th:field="*{s_nit}" size="40" placeholder="Nit"><br>
		<span th:errors ="*{s_nit}" style= "color: #E81505;"></span><br>
		
		<label>Importancia: </label>
        <select th:field="*{importancia.c_importancia}">
        <option th:each="im : ${importancias}"
            th:value="${im.c_importancia}"
            th:text="${im.s_importancia}"
        />
        </select>
        
        <input type="hidden" th:field="*{fechaDelegate}">
        
		<input type="submit" value="Agregar"><br>
		</form>
		<form method="get" th:action="@{/listado}">
 			<input type="submit" value="Listado">
		</form>
</body>
</html>